<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joker.spzx.manager.mapper.ExpenseOrderTagMapper">

    <select id="selectByOrderIds" resultType="com.joker.spzx.model.entity.expense.ExpenseOrderTag">
        SELECT order_id, tag_id
        FROM expense_order_tag
        WHERE order_id IN
        <foreach collection="orderIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
