<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joker.spzx.manager.mapper.MallProductPicVideoMapper">

    <select id="selectPicVideoListByOrderId" resultType="com.joker.spzx.model.entity.oper.MallProductPicVideo">
        SELECT
            mpp.id, mpp.platform_type, mpp.product_id, mpp.person_id, mpp.file_url, mpp.file_type,
            mpp.state, mpp.take_date, mpp.remark, mpp.is_deleted, mpp.create_time, mpp.update_time
        FROM
            product_media mpp
                INNER JOIN brush_order_resource mor ON mor.file_id = mpp.id
        WHERE
            mor.order_id = #{orderId}
    </select>
</mapper>
